# Python Basics (2)


## Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.



Credit: [w3schools](https://www.w3schools.com/python/default.asp)

In [12]:
def print_hello(times, name="python"):
  for i in range(times):
    print(f"{i}. Hello World! {name}")

print_hello(times=2, name="Jack")

0. Hello World! Jack
1. Hello World! Jack

In [13]:
print_hello(times=5)

0. Hello World! python
1. Hello World! python
2. Hello World! python
3. Hello World! python
4. Hello World! python

**Exercises**

In [22]:
# เขียน function ที่ return ชื่อ domain name ของ email ที่ส่งเข้ามา
i = 'bundit@it.kmitl.ac.th'.index('@')
print(i) # i = 6 ซึ่งคือ index ของ @

def get_domain(email):
    # Your code here
    return email[email.index('@') + 1:]



mymail = 'bundit@it.kmitl.ac.th'
domain1 = get_domain(mymail)
print(domain1)
domain2 = get_domain('admin@gmail.com')
print(domain2)
# Input: bundit@it.kmitl.ac.th
# Return: 'it.kmitl.ac.th'
# Input: bundit@gmail.com
# Return: 'gmail.com'

6
it.kmitl.ac.th
gmail.com

### Arguments
Information can be passed into functions as **arguments**.

In [24]:
def full_name(fname, lname, nickname):
  return '{} {} ({})'.format(fname, lname, nickname)

print(full_name('Thanasopon', 'Bundit', 'Jack'))

print(full_name('Michael', 'Jordan', 'MJ'))

Thanasopon Bundit (Jack)
Michael Jordan (MJ)

By default, a function must be called with **the correct number of arguments**. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [25]:
full_name('Bundit','TH','JACK')

'Bundit TH (JACK)'

But, you can assign **default parameter value** to function parameters.

In [ ]:
def full_name(fname, lname='Thanasopon'):
  return '{} {}'.format(fname, lname)

print(full_name('Bundit'))

print(full_name('Bundit', 'IT'))

Bundit Thanasopon
Bundit IT

### Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a **tuple of arguments**, and can access the items accordingly.

*Note: Arbitrary Arguments are often shortened to *args in Python documentations.*

In [ ]:
def my_friends(*friends):
  print(friends)
  for friend in friends:
    print(friend)


my_friends('Jack', 'Jo', 'Jill', 'JJ', 'JEE', 'NNN')

('Jack', 'Jo', 'Jill', 'JJ', 'JEE', 'NNN')
Jack
Jo
Jill
JJ
JEE
NNN

**Exercise #1**

In [ ]:
# เขียน function ที่ return True เมื่อ arguments ที่ส่งเข้ามามีคำว่า 'hello'
# ประกาศ function ตรงนี้
def has_hello(*items):
    return  "hello" in items

# return True if there is 'hello' in items
print(has_hello('hey', 'no', 1, 'hello', 10)) # True

print(has_hello('yes', '', 'bye')) # False

True
False

**Exercise #2**

เขียน function `sum_number` ที่ return ค่าผลรวมของ argument ที่รับเข้ามาทั้งหมด

In [11]:
def sum_number(*args):
    ans = 0
    for i in args:
        if type(i) is int:
          ans += i
    return ans

sum = sum_number(10, 5, 12, 6, 4, 5 , 'dsf')
print(sum)

42

### Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments **does not** matter.

In [27]:
def my_func(x, y, z):
  return (x + y) / z

result = my_func(2, 4, 3)
print(result)
print(my_func(z=3, x=2, y=4))

2.0
2.0

### Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly.

*Note: Arbitrary Kword Arguments are often shortened to **kwargs in Python documentations.*

In [ ]:
def my_func(**kwargs):
  print(kwargs)
  print(kwargs['fname'])

my_func(fname='Bundit', lname='Thanasopon', nickname='Jack')

{'fname': 'Bundit', 'lname': 'Thanasopon', 'nickname': 'Jack'}
Bundit

In [19]:
def new_func(x, y, z):
  return x+y+z

a = [1, 2, 5]

new_func(*a)

8

In [21]:
def new_func(x, y, z):
  return x+y+z

a = {
    'x': 2,
    'y': 3,
    'z': 4,
}
new_func(**a)

9

## Python Variable Scope

[source](https://www.programiz.com/python-programming/global-local-nonlocal-variables)

In Python, we can declare variables in three different scopes: local scope, global, and nonlocal scope.

### Python Local Variables

When we declare variables inside a function, these variables will have a local scope (within the function). We cannot access them outside the function.

These types of variables are called local variables. For example,

In [ ]:
def greet():

    # local variable
    message = 'Hello'
    print('Local', message)

greet()

# try to access message variable
# outside greet() function
print(message)

Local Hello

NameError: name 'message' is not defined

### Python Global Variables

In Python, a variable declared outside of the function or in global scope is known as a global variable. This means that a global variable can be accessed inside or outside of the function.

Let's see an example of how a global variable is created in Python.

In [42]:
# declare global variable
message = 'Hello'

def greet():
    # declare local variable
    message = "Bye"
    print('Local', message)

greet()
print('Global', message)

Local Bye
Global Hello

### Python Nonlocal Variables
In Python, nonlocal variables are used in nested functions whose local scope is not defined. This means that the variable can be neither in the local nor the global scope.

We use the `nonlocal` keyword to create nonlocal variables. For example,

In [43]:
# outside function
def outer():
    message = 'local'

    # nested function
    def inner():

        # declare nonlocal variable
        nonlocal message

        message = 'nonlocal'
        print("inner:", message)

    inner()
    print("outer:", message)

outer()

inner: nonlocal
outer: nonlocal

## Python Lambda Functions

A lambda function is a small **anonymous** function.

A lambda function can take any number of arguments, but can *only have one expression*.

### Syntax

```python
lambda arguments : expression
```

In [ ]:
# This lambda function adds 10 to argument a, and return the result:
def addten(a):
  return a + 10
print(addten(5))

x = lambda a : a + 10
print(x(5))

# Lambda functions can take any number of arguments:
x = lambda a, b : a - b
print(x(6,9))

x = lambda x, y, z : x + y + (lambda x : x**2)(z)
print(x(1,3,5))

15
15
-3
29

**Lambda functions are often used with `sort()`, `map()` and `filter()`**

#### sort()
The `sort()` method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

```
list.sort(reverse=True|False, key=myFunc)
```

In [31]:
# A function that returns the length of the value:
def sortFunc(x):
  return len(x)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=sortFunc, reverse=True)
cars

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [32]:
cars.sort()
cars

['BMW', 'Ford', 'Mitsubishi', 'VW']

**Excercise**

Sort a list of tuples using Lambda (sort by score).

*Original list of tuples:*

```python
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
```

Sorting the List of Tuples:
```python
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]
```

In [44]:
mylist = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def sortFunc(x):
    return x[1]
  # Your code here

mylist.sort(key=lambda x : x[1],reverse=False)
print(mylist)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

#### map()
The `map()` function iterates through all items in the given iterable and executes the function we passed as an argument on each of them.

The syntax is:

```python
map(function, iterable(s))
```

In [5]:
fruits = ["Apple", "Banana", "Pear", "Apricot", "Orange"]

# Not using map
map_object = []
for f in fruits:
  if f[0] == 'A':
    map_object.append(True)
  else:
    map_object.append(False)

map_object

[True, False, False, True, False]

In [ ]:
fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
# Without using lambdas
def starts_with_A(s):
    return s[0] == "A"

map_object = map(starts_with_A, fruit)
list(map_object)

[True, False, False, True, False]

In [ ]:
# With lambdas
fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
map_object = map(lambda s: s[0] == "A", fruit)

list(map_object)

[True, False, False, True, False]

**Exercises**

Use map() to double the value of all items in `mylist`

In [ ]:
mylist = [2,4,3,5,11,7,10]
# expected result -> [4, 8, 6, 10, 22, 14, 20]

# Try using map() with normal function
def mapFunc(x):
    return x * 2
  # Your code here

print(list(map(mapFunc, mylist)))

# Try using map() with lambda function
# Your code here
print(list(map(lambda x : x * 2 , mylist)))

[4, 8, 6, 10, 22, 14, 20]
[4, 8, 6, 10, 22, 14, 20]

#### filter()
Similar to `map()`, `filter()` takes a function object and an iterable and creates a new list.
As the name suggests, `filter()` forms a new list that contains only elements that satisfy a certain condition, i.e. the function we passed returns `True`.

The syntax is:

```python
filter(function, iterable(s))
```

In [73]:
fruits = ["Apple", "Banana", "Pear", "Apricot", "Orange"]

def filFunc(e):
    return "A" in e
  # Your code here

filter_object = filter(filFunc, fruits)

# With lambda function
# Your code here
print(list(filter(lambda x : "A" in x , fruits)))

print(list(filter_object))

['Apple', 'Apricot']
['Apple', 'Apricot']

**Exercises**

In [53]:
mylist = [2,4,3,5,11,7,10]
# create a list with only even number
# [2, 4, 10]

# Your code here
def filFunc(e):
    return e % 2 == 0

list(filter(filFunc, mylist))

[2, 4, 10]

In [74]:
mylist2 = [
           {'name': 'Jack', 'gender': 'M'},
           {'name': 'Jane', 'gender': 'F'},
           {'name': 'John', 'gender': 'M'},
           {'name': 'June', 'gender': 'F'}
          ]
# create a list of names with gender = 'F'
# OUTPUT -> ['Jane', 'June']
# Hint: use filter() then map()

# Your code here
def filFunc(person):
    return person['gender'] == 'F'

female_list = list(filter(filFunc, mylist2))
print(female_list)

print(list(map(lambda x : x['name'],female_list)))

[{'name': 'Jane', 'gender': 'F'}, {'name': 'June', 'gender': 'F'}]
['Jane', 'June']

## String Methods

Python has a set of built-in methods that you can use on strings.

*Note: All string methods returns new values. They do not change the original string.*

Some that you should know:

* find()
* index()
* join()
* split()
* replace()

### find() and index()

The `find()` method finds the first occurrence of the specified value.

The `find()` method returns -1 if the value is not found.

The `find()` method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [ ]:
txt = "Hello, welcome to IT Faculty IT."

x = txt.find("IT")

print("IT" in txt)
print(x)

# # search 'e'. between position 5 and 10
print(txt.find("IT", 5, 10))

# # find() vs. index()
print(txt.find("x"))
print(txt.index("IT"))

True
18
-1
-1
18

### join()

The `join()` method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

In [ ]:
mylist = ["Apple", "Orange", "Strawberry", "Pear", "Durian"]
seperator = "; | "

print(seperator.join(mylist))

mydict = {"name": "Jack", "country": "Thailand", "job": "Teacher"}
separator = " # "

x = separator.join(mydict.keys())

print(x)

Apple; | Orange; | Strawberry; | Pear; | Durian
name # country # job

### split()

The `split()` method splits a string into a list.

You can specify the separator, default separator is any whitespace.

In [ ]:
txt = "hello, my name is Jack, I am 18 years old"

x = txt.split()

print(x)

x = txt.split("I ")

print(x)

['hello,', 'my', 'name', 'is', 'Jack,', 'I', 'am', '18', 'years', 'old']
['hello, my name is Jack, ', 'am 18 years old']

### replace()

The `replace()` method replaces a specified phrase with another specified phrase.

```
string.replace(oldvalue, newvalue, count)
```

In [ ]:
txt = "one one seven two one five one."

x = txt.replace("one", "three")

print(x)

x = txt.replace("one", "three", 2)

print(x)

three three seven two three five three.
three three seven two one five one.

**Exercises**

In [ ]:
# 1. เขียน funcion ที่รับ 1 argument เป็น string ของ email @kmitl.ac.th และ return คำที่อยู่ก่อน @kmitl.ac.th
# เช่น ถ้ารับค่า 'bundit@kmitl.ac.th' ให้ return 'bundit'
def get_name(email):
    if email.find("@kmitl.ac.th") == -1:
        return 'Incorrect email'
    return email[:email.find("@")]

  # Yoou code here

print(get_name('bundit@kmitl.ac.th')) # return 'bundit'
print(get_name('admin@gmail.com')) # return 'Incorrect email'

bundit
Incorrect email

In [68]:
# 2. แปลง string ด้านล่างเป็น list 2 list สำหรับ วันที่ และ เวลา
txt = '2020-10-01 23:15:20'
# ['2020', '10', '01'] ['23', '15', '20']
datestr =  txt.split(" ")[0]
timestr =  txt.split(" ")[1]
# Your code here
date_extract = datestr.split("-")
time_extract = timestr.split(":")
print(str(date_extract) + str(time_extract))

['2020', '10', '01']['23', '15', '20']

In [70]:
# 3. เขียน function ที่รับ arbitary argument เป็นชื่อคน และ return
# เป็น string ของชื่อคนทั้งหมดที่ได้รับเข้ามาคั่นด้วย '; '
# เช่น รับ 'Jack', 'Jane', 'John' return 'Jack; Jane; John'

def join_names(*args):
  print(args)
  separator = "; "
  return separator.join(args)
  # Your code here

names = join_names('Jack', 'Jane', 'John', 'Jim', 'Joe')

print(names)

('Jack', 'Jane', 'John', 'Jim', 'Joe')
Jack; Jane; John; Jim; Joe

## Python Modules

As our program grows bigger, it may contain many lines of code. Instead of putting everything in a single file, we can use modules to separate codes in separate files as per their functionality. This makes our code organized and easier to maintain.

Module is a file that contains code to perform a specific task. A module may contain variables, functions, classes etc. Let's see an example,

Let us create a module. Type the following and save it as `example.py`.

In [ ]:
# Python Module addition
def add(a, b):

   result = a + b
   return result

We can import the definitions inside a module to another module or the interactive interpreter in Python.

We use the `import` keyword to do this. To import our previously defined module **example.py**, we type the following in the Python prompt.

In [ ]:
import example

example.add(4,5) # returns 9

### Import Python Standard Library Modules

The Python standard library contains well over 200 modules. We can import a module according to our needs.

Suppose we want to get the value of pi, first we import the `math` module and use `math.pi`. For example,

In [ ]:
# import standard math module
import math

# use math.pi to get value of pi
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

Let's try import `datetime` and `timedelta` from `datetime` module.

In [ ]:
from datetime import datetime, date, timedelta

mydate = datetime(2020, 5, 17, 10, 30, 50)
mydate = date(2024, 1, 1)
print(mydate.ctime())

# Print year
print(mydate.year)

# Format date to string
print(mydate.strftime("%d/%m/%Y"))
# Format date to string
print(mydate.strftime("%d %B %Y"))

Mon Jan  1 00:00:00 2024
2024
01/01/2024
01 January 2024

In [ ]:
# Print current date time
now = datetime.now()
print(now)

2024-07-28 06:31:19.210843

In [ ]:
#Add 15 days to current date
next15 = now + timedelta(weeks=3)

print(next15)

2024-08-18 06:31:19.210843

**Exercise**

1. หาวันที่ 1 สัปดาห์ก่อนวันปัจจุบัน และทำการ print โดย format วันที่ในรูปแบบ dd/mm/yy

**Hint:** [datetime formats](https://www.w3schools.com/python/python_datetime.asp)

In [59]:
from datetime import datetime , timedelta

# Your code here
ans = datetime.now() - timedelta(weeks=1)

ans.strftime("%d/%m/%y")

'06/07/25'

2. หาว่าวันที่ 1 สิงหาคม 2024 เป็นวันอะไรในสัปดาห์

**Hint: datetime.weekday()**

In [66]:
from datetime import datetime , timedelta, date
# Your code here
mydate = date(2024, 8, 1)

print(mydate.strftime("%A"))

Thursday