# Python Basics (1)


## Data Types

### Basic Data Types
1. Number (Integer and Float)
2. String
3. Boolean

###Collection Data Types
- List
- Dictionary
- Set
- Tuple

Credit: [w3schools](https://www.w3schools.com/python/default.asp)

[Markdown guide](https://colab.research.google.com/notebooks/markdown_guide.ipynb)

## Integer

In [2]:
x1 = 1
x2 = 1.0
y = 2

print(type(x1))
print(type(x2))
print(type(y))
x2

<class 'int'>
<class 'float'>
<class 'int'>

1.0

Float can also be scientific numbers with an "e" to indicate the power of 10. (10 ยก กำลัง x)

In [3]:
# e3 = 10 ยกกำลัง 3
z = 3e10 
# e-1 = 10 ยกกำลัง -1
z2 = 3e-1

print(type(z))
print("z ->", z)
print("z2 ->", z2)

<class 'float'>
z -> 30000000000.0
z2 -> 0.3

### Python Arithmetic Operators

Operator | Name
---|---
+|Addition
-|Subtraction
*|Multiplication
/|Division
%|Modulus
**|Exponentiation
//|Floor division

In [4]:
x = 5
y = 2

In [5]:
(x + y) - 1.5

5.5

In [6]:
x / y

2.5

In [7]:
x % y

1

In [8]:
x ** y

25

In [9]:
x // y

2

## String
Strings in python are surrounded by either single quotation marks, or double quotation marks.

The String type in Python is called "str"

In [ ]:
s1 = 'I love "hey" Python'
print(s1) # พิมพ์ s1

print(type(s1))

print(s1[5])

s2 = 'Hello world!'

print(s2[6])

I love "hey" Python
<class 'str'>
e
w

In [11]:
s3 = 'X' # one letter is also a string

type(s3)

str

###Strings are Arrays
**Important!!!** The first item in the sequence is number 0.

In [12]:
print(s1[3])
print(s1[7])

o
"

In [54]:
# String slicing
s1 = "I love Python"
s1[7:]
# var[start:end] # end is not included (index - 1)
s1[7:9]

'Py'

In [14]:
# Negative index - start from the end
s1 = "I love Python"
s1[-1]

'n'

In [15]:
s1 = "I love Python"
s1[-11:-7]

'love'

In [56]:
s2 = 'Hello world!'
s2[4:-1]

'o world'

In [17]:
s2[:4]

'Hell'

In [18]:
s2[0:-1]

'Hello world'

In [19]:
# String length
len(s2)

12

In [59]:
# Check String
'world' in s2

True

In [66]:
# Concatenate Strings
x = '1'
y = 2
z = int(x) + y
print(z)
'Python ' + s2 + ' is cool!'

3

'Python Hello world! is cool!'

### **Exercise**

Slicing String

In [60]:
# Given the string:
s = 'Information Technology Faculty'

# ใช้ indexing เพื่อ print out ให้ได้ผลดังต่อไปนี้:
# 'm'
s[5]

'm'

In [61]:
# 'Facul' ใช้ index เป็นลบ
s[-7:-2]

'Facul'

In [64]:
# 'Techno' ใช้ index เป็นบวก
s[12:18]

'Techno'

### String Format
We can combine strings and numbers by using the format() method.

In [25]:
name = 1234
surname = 'Thanasopon'

x = 'My name is ' + str(name) + ' ' + surname
x

'My name is 1234 Thanasopon'

In [26]:
name = 'Bundit'
surname = 'Thanasopon'
nickname = 12345
'My name is {} {} ({})'.format(name, surname, nickname)

'My name is Bundit Thanasopon (12345)'

In [27]:
name = 'Bundit'
nickname = 'Jack'
# s3 = 'My name is {} and my nickname is {}, and I am {}'
# s3.format(name, 'Jack', 36)

'My name is %s and my nickname is %s, and I am %s' % (name, 'Jack', 40)

'My name is Bundit and my nickname is Jack, and I am 40'

In [ ]:
name = 'Bundit'
nickname = 'Jack'
age = 40.0000
# Using f-string format
# f-string format is available in Python 3.6 and later
# f"{variable_name}" is used to embed variables in strings
# s3 = f"My name is {name} and my 'nickname' is {nickname}, and I am {age:.2f}"
# The .2f formats the age to two decimal places
# .2f means float with 2 decimal places
s3 = f"My name is {name} and my 'nickname' is {nickname}, and I am {age:.2f}"

s3

"My name is Bundit and my 'nickname' is Jack, and I am 40.00"

### **Exercise**

In [78]:
language = 'Java'
feeling = 'hate'
difficulty = 'hard'

# Print out 'Python is very easy. I love Python!'
# using str.format() or f-string format
f"{language} is very {difficulty}. I {feeling} {language}"

'Java is very hard. I hate Java'

# Boolean

Booleans represent one of two values: **True** or **False**.

### Python Comparison Operators
Operator|Name
---|---
==|Equal
!=|Not equal
>|Greater than
<|Less than
>=|Greater than or equal to
<=|Less than or equal to

### Python Logical Operators
Operator|Name
---|---
and|Returns True if both statements are true
or|Returns True if one of the statements is true
not|Reverse the result, returns False if the result is true

In [30]:
x = 10
y = 6

print('x == y: {}'.format(x == y))
print('x > y: {}'.format(x > y))
print('x < y: {}'.format(x < y))

x == y: False
x > y: True
x < y: False

In [31]:
z = 'Hello'
print((x > y) and (z != 'Hello')) # True and False => False
print(not ((x < y) and (z == 'Hello'))) # not (False and True) => True
print((x > y) or (z == 'Hey')) # True or False => True

False
True
True

### Truthy and Falsy Values in Python
In Python, individual values can evaluate to either True or False.
* Values that evaluate to **False** are considered *Falsy*.
* Values that evaluate to **True** are considered *Truthy*.

### Falsy Values


**Sequences and Collections:**
* Empty lists: []
* Empty tuples: ()
* Empty dictionaries: {}
* Empty sets: set()
* Empty strings: ""
* Empty ranges: range(0)

**Numbers**
* Zero of any numeric type.
* Integer: 0
* Float: 0.0

**Constants**
* None
* False


### Truthy Values
* Non-empty sequences or collections (lists, tuples, strings, dictionaries, sets).
* Numeric values that are not zero.
* True

In [32]:
a = [None]
if a:
  print('True')
else:
  print('False')

True

In [33]:
a = None
if a:
  print('True')
else:
  print('False')

False

In [34]:
a = 1
if a:
  print('True')
else:
  print('False')

True

In [35]:
a = ""
bool(a)

False

In [36]:
a = "Not empty"
if a:
  print('True')
else:
  print('False')

True

## If...Else
### Python Conditions and If statements
Python supports the usual logical conditions from mathematics:
* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

In [37]:
# If statement

a = 34
b = 200
if b > a and (b - a) > 100 or b == 210: # => True and True or False
  print('true')
  if a == 33:
    print("b is much greater than a")
else:
  print('Else')
  print('Done')

true

In [38]:
# Elif statement
a = 33
b = 34
if a < b:
  print("a and b are equal")
elif b >= a:
  print("b is greater than a")
else:
  print('A is more than B')

a and b are equal

In [39]:
# Else statement
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In Python, scope is specify by TAB

In [40]:
# If statement
a = 33
b = 200
if b > a and (b - a) > 100:
  print('true')
  print("b is much greater than a")
else:
  print('Else')

print('Done')

true
b is much greater than a
Done

**Exercise**

เขียน if-else เพื่อแสดงเกรดของคะแนนสอบ โดยมีเงื่อนไขดังนี้
- คะแนน >= 80 ได้เกรด A
- คะแนน >= 70 ได้เกรด B
- คะแนน >= 60 ได้เกรด C
- คะแนน >= 50 ได้เกรด D
- คะแนน > 30 ได้เกรด P
- คะแนน <= 30 ได้เกรด F

คะแนนของนักเรียน 3 คนเป็นดังนี้
x = 51, y = 30 และ z = 85

In [ ]:
x = 51 # D
y = 30 # F
z = 85 # A
score = x

# Your code here
if score >= 80:
    print('A')
elif score >= 70:
    print('B')
elif score >= 60:
    print('C')
elif score >= 50:
    print('D')
elif score >= 30:
    print('P')
else:
    print('F')

P

##Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [42]:
mylist = ["apple", "banana", "orange", True, 10, [1, 2, 3], None]
print('Length of mylist -', len(mylist))

print(mylist[0])
print(mylist[1:3])
print(mylist[-1])

Length of mylist - 7
apple
['banana', 'orange']
None

###Modifying Lists

In [43]:
mylist = ["apple", "banana", "orange"]
print(mylist)

# Changing list items
mylist[2] = "watermalon"
print("Change orange to watermelon ->", mylist)
print()
newlist = mylist[1:3]
print("Get items: 1, 2 ->", newlist)

print()
mylist[1:3] = ["strawberry", "pineapple"]
print("Change items: 1, 2 to strawberry, pineapple ->", mylist)

['apple', 'banana', 'orange']
Change orange to watermelon -> ['apple', 'banana', 'watermalon']

Get items: 1, 2 -> ['banana', 'watermalon']

Change items: 1, 2 to strawberry, pineapple -> ['apple', 'strawberry', 'pineapple']

**Exercise**

Accessing nested list

In [91]:
ls = [3,7,[1,4,'hello']]

# จงแก้ค่า hello เป็น goodbye
# Your code here
ls[2][2] = 'goodbye'

In [86]:
lst = [1,
       2,
       [3,4],
       [5,[100,200,['hello']],23,11],
       1,
       7]

# print ค่า hello ออกมาแสดง
# Your code here
lst[3][1][2][0]

'hello'

#### Add a new item to list

In [46]:
mylist = ["apple", "banana", "orange"]
# Adding new items
mylist.insert(1, "kiwi")
print(mylist)


mylist.append("durian")
print(mylist)

['apple', 'kiwi', 'banana', 'orange']
['apple', 'kiwi', 'banana', 'orange', 'durian']

#### Concatenate two lists

In [47]:
# Concatenate lists
mylist1 = [1, 2, 3]
mylist2 = [4, 5, 6]
print(mylist1 + mylist2)

[1, 2, 3, 4, 5, 6]

#### Remove items from list

In [ ]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']
# Removing items
mylist.remove('kiwi')
print(mylist)

# The pop() method removes the specified index.
mylist.pop(1)
print(mylist)

# If you do not specify the index, the pop() method removes the last item.
popValue = mylist.pop()
print(mylist)
# Pop can return pop value in var
print(popValue)

['apple', 'strawberry', 'pineapple', 'Durian']
['apple', 'pineapple', 'Durian']
['apple', 'pineapple']
Durian

### Looping Lists

In [98]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']

index = 1
for f in mylist:
  print('{}. {}'.format(index, f))
  index += 1

1. apple
2. kiwi
3. strawberry
4. pineapple
5. Durian

In [50]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']

fruit = ''
i = 0
while fruit != 'pineapple':
  print(mylist[i])
  fruit = mylist[i]
  i = i + 1

print('DONE!!!')

apple
kiwi
strawberry
pineapple
DONE!!!

In [51]:
# Lookout for infinity loops
x = 9

while x < 10:
  x = x - 1

KeyboardInterrupt:

### List Exercises

**Exercise #1**

สร้าง list ใหม่ที่มีสมาชิกเป็นขนาดของ String แต่ละตัวใน list "mylist"

In [130]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']

# Put your code here
lenList = []

for i in mylist:
    lenList.append(len(i))
    

lenList

[5, 4, 10, 9, 6]

**Exercise #2**


```
myList = [76, 92.3, 'hello', True, 4, 76]


```


จาก myList ที่กำหนด ให้ดำเนินการดังต่อไปนี้

1. เพิ่ม `'apple'` และ `76`
2. เพิ่ม `'cat'` ในตำแหน่ง index ที่ 3
3. เพิ่ม `99` ในตำแหน่งเริ่มต้นของ List
4. นับจำนวนของ `76` โดยใช้ `for`
5. ลบค่า `76` ตัวแรกออกจาก List โดยใช้คำสั่ง `pop` ด้วย index

**Expected Output**

```
result 3 ข้อแรก
[99, 76, 92.3, 'cat', 'hello', True, 4, 76, 'apple', 76]

จำนวนของ 76
3

result หลังจากลบ 76 ตัวแรกออก
[99, 92.3, 'cat', 'hello', True, 4, 76, 'apple', 76]
```

In [122]:
myList = [76, 92.3, 'hello', True, 4, 76]
# YOUR CODE HERE
# ข้อ 1-3
myList.append('apple')
myList.append(76)
myList.insert(2,'cat')
myList.insert(0,99)
print(myList)

[99, 76, 92.3, 'cat', 'hello', True, 4, 76, 'apple', 76]

In [123]:
# YOUR CODE HERE
# ข้อ 4
count76 = 0
for i in myList:
    if i == 76:
        count76 += 1
count76

3

In [125]:
# YOUR CODE HERE
# ข้อ 5
myList.pop(1)
myList

[99, 92.3, 'cat', 'hello', True, 4, 76, 'apple', 76]

**Exercise #3**


```
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
```


จาก List `'numbers'` จงสร้าง List `'newList'` ซึ่งมีเฉพาะตัวเลขจำนวนเต็มบวก

*Hint: ใช้ `for` loop และ `if`*

**Expected Output**


```
[34, 44, 68, 44, 12]
```

In [129]:
# YOUR CODE HERE

numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]

newList = []
for item in numbers:
    if item > 0:
        newList.append(int(item))

print(newList)

[34, 44, 68, 44, 12]

## Looping through range()

In [131]:
print(range(10))

range(0, 10)

In [132]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [133]:
mylist = ['apple', 'orange', 'banana']

for i in range(len(mylist)):
  print(mylist[i])

apple
orange
banana

## Tuples

Lists are used to store multiple items in a single variable.

A tuple is a collection which is **ordered** and **unchangeable**.


*   **ordered** - When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
*   **unchangeable** - Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [138]:
mytuple = ('apple', 'kiwi', 'strawberry', 'pineapple', 'Durian')

print(mytuple)

print(mytuple[0])

print(mytuple[1:3])

('apple', 'kiwi', 'strawberry', 'pineapple', 'Durian')
apple
('kiwi', 'strawberry')

### Unchangeable
You cannot **change, add, or remove** items once the tuple is created.

In [136]:
mylist = list(mytuple)
mylist[0] = "orange"
print(mylist)
# mytuple[0] = "orange"

['orange', 'kiwi', 'strawberry', 'pineapple', 'Durian']

**Exercise #1**


```
tuple1 = (11, 22, 33, 44, 55, 66)
```

จาก `'tuple1'` ให้นำค่า `44` และ `55` มาสร้างเป็น `'tuple2'`

**Expected Output**
```
tuple2 = (44, 55)
```

In [140]:
# YOUR CODE HERE
tuple1 = (11, 22, 33, 44, 55, 66)

tuple2 = tuple1[3:5]

tuple2

(44, 55)

**Exercise #2**


```
myTuple = (45, 44, 421, 4, '4', 'Python', 44, '44', 'cat', 2, 4.4, 44)
```
จาก `'myTuple'` จงนับจำนวน `44` และหา index ของ `'Python'`

**Expected Output**


```
3
5
```

*Hint:*
The method index() returns the lowest index in the list where the element searched for appears.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = 3
list_numbers.index(element)
-----
2
```

In [ ]:
# YOUR CODE HERE
myTuple = (45, 44, 421, 4, '4', 'Python', 44, '44', 'cat', 2, 4.4, 44)

## Sets
A set is a collection which is both **unordered**, **unchangeable**, and **do not allow duplicate** values.

Sets are written with curly brackets.


*Note: Sets are unordered, so you cannot be sure in which order the items will appear.*

In [147]:
myset = {"apple", "apple", "cherry", "pineapple"}

# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a "for loop".

for x in myset:
  print(x)

print(myset)

apple
pineapple
cherry
{'apple', 'pineapple', 'cherry'}

In [ ]:
# Or ask if a specified value is present in a set, by using the "in" keyword.

print("apple" in myset)

print("orange" in myset)

### Unchangeable

Once a set is created, you cannot change its items, but you can add new items or remove items.

In [142]:
myset = {"apple", "banana", "cherry", "pineapple"}

# Adding new item to sets
myset.add("orange")

print(myset)

# To add items from another set into the current set, use the update() method.
myset.update({"kiwi", "coconut"})

print(myset)

myset.update(["orange", "kiwi"])

print(myset)

# Add items that already exist in the set
myset.add("kiwi")

print(myset)

#removing item from set
myset.remove("kiwi")

print(myset)

{'pineapple', 'orange', 'apple', 'cherry', 'banana'}
{'pineapple', 'orange', 'apple', 'cherry', 'kiwi', 'banana', 'coconut'}
{'pineapple', 'orange', 'apple', 'cherry', 'kiwi', 'banana', 'coconut'}
{'pineapple', 'orange', 'apple', 'cherry', 'kiwi', 'banana', 'coconut'}
{'pineapple', 'orange', 'apple', 'cherry', 'banana', 'coconut'}

## Joining Two Sets
There are several ways to join two or more sets in Python.

You can use the **union()** method that returns a new set containing all items from both sets, or the **update()** method that inserts all the items from one set into another.

You can also use **intersection()** method that returns a new set containing items that are in both sets.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, "a"}

set3 = set1.union(set2)
print(set3)

set4 = set1.intersection(set2)
print(set4)

**Exercise**


```
sample_set = {"Yellow", "Orange", "Black", "Pink"}
sample_list = ["Blue", "Green", "Red"]
```


```
my_set = {"Brown", "Red", "White", "Pink"}
```



จากค่าที่กำหนด ให้นำ `'sample_list'` เพิ่มใน `'sample_set'` และแสดงค่าที่เหมือนกันระหว่าง `'sample_set'` และ `'my_set'`

**Expected Output**


```
{'Red', 'Pink'}
```

In [155]:
# YOUR CODE HERE
sample_set = {"Yellow", "Orange", "Black", "Pink"}
sample_list = ["Blue", "Green", "Red"]
my_set = {"Brown", "Red", "White", "Pink"}
sample_set.update(sample_list)
result = sample_set.intersection(my_set)
result

{'Pink', 'Red'}

## Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is **ordered, changeable and does not allow duplicates**.

In [156]:
mydict = {
  "name": {"firstname": "Bundit", "lastname": "Thanasopon"},
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

print(mydict)

print(mydict["nickname"])

print(mydict["name"]["firstname"])

print(mydict["fav_color"][0])

{'name': {'firstname': 'Bundit', 'lastname': 'Thanasopon'}, 'nickname': 'Jack', 'fav_color': ['red', 'blue', 'yellow'], 'age': 35}
Jack
Bundit
red

In [157]:
# Get the list of keys
print(mydict.keys())
print('-------------------')
print('Keys:')
for key in mydict.keys():
  print(key)

dict_keys(['name', 'nickname', 'fav_color', 'age'])
-------------------
Keys:
name
nickname
fav_color
age

In [158]:
# Get the list of values
print(mydict.values())
print('Values:')
for value in mydict.values():
  print(value)

dict_values([{'firstname': 'Bundit', 'lastname': 'Thanasopon'}, 'Jack', ['red', 'blue', 'yellow'], 35])
Values:
{'firstname': 'Bundit', 'lastname': 'Thanasopon'}
Jack
['red', 'blue', 'yellow']
35

In [159]:
# Dictionaries cannot have two items with the same key
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35,
  "age": 30,
  "age": 15,
}

mydict

{'firstname': 'Bundit',
 'lastname': 'Thanasopon',
 'nickname': 'Jack',
 'fav_color': ['red', 'blue', 'yellow'],
 'age': 15}

### Modifying dictionaries

#### Change values

In [ ]:
# Change Values
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

mydict["nickname"] = "J"

mydict["age"] = 40
mydict

#### Add a new key-pair / remove a key-pair

In [ ]:
# Add a key-value pair
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

mydict["nationality"] = "Thai"

mydict

In [1]:
# Remove a key-value pair
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

a = mydict.pop('age')
b = mydict.pop('fav_color')

print(mydict)

print(a)
print(b)

{'firstname': 'Bundit', 'lastname': 'Thanasopon', 'nickname': 'Jack'}
35
['red', 'blue', 'yellow']

### Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

In [160]:
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

# print(mydict.items())

for (k, v) in mydict.items():
  # print(item)
  print(k, '-->', v)

firstname --> Bundit
lastname --> Thanasopon
nickname --> Jack
fav_color --> ['red', 'blue', 'yellow']
age --> 35

In [161]:
(a, b, c) = [3, 4, 5]

print(a)
print(b)
print(c)

3
4
5

### Dictionary Exercises

**Exercise #1**

จง print ค่า 'hello' ออกมาจาก dictionary ด้านล่าง:

In [2]:
d1 = {'simple_key':'hello'}

d2 = {'k1':{'k2':'hello'}}

d3 = {'k1':[
          {'nest_key':['this is deep',['hello']]}
        ]
      }

# YOUR CODE HERE
print(d1['simple_key'])
print(d2['k1']['k2'])
print(d3['k1'][0]['nest_key'][1][0])

hello
hello
hello

**Exercise #2**


```
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
```
จาก Dictionary ที่กำหนด จงเปลี่ยนชื่อ key `'city'` เป็น `'location'`

**Expected Output**


```
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}
```

In [163]:
# YOUR CODE HERE
sample_dict = {
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New york"
}
temp = sample_dict.pop("city")
sample_dict['location'] = temp
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

**Exercise #3**

สร้าง Dictionary ของ คู่ตัวเลขและเลขยกกำลังสอง

**Expected Output**



```
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
```

In [4]:
# YOUR CODE HERE
squares = {}


for i in range(1,6):
    squares[i] = i ** 2
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Exercise #4**


```
inventory = {
    'gold' : 500,
    'pouch' : ['flint', 'twine', 'gemstone'],
    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}
```

จาก Dictionary ให้ดำเนินการดังต่อไปนี้

*   เพิ่ม key ไปยัง inventory ชื่อ `'pocket'` และกำหนด value เป็น `['seashell', 'strange berry', 'lint']`
*   เรียงลำดับ value ใน `'backpack'` ตามตัวอักษร
  * **[HINT]** ใช้ *.sort()* method
*   ลบ `'dagger'` ออกจาก `'backpack'`
*   เพิ่มค่า `'gold'` เป็น `550`

และให้แสดงผล Output ดังนี้


```
gold -> 550
pouch -> ['flint', 'twine', 'gemstone']
backpack -> ['bedroll', 'bread loaf', 'xylophone']
pocket -> ['seashell', 'strange berry', 'lint']
```

In [168]:
inventory = {
    'gold' : 500,
    'pouch' : ['flint', 'twine', 'gemstone'],
    'backpack' : ['xylophone', 'dagger', 'bedroll','bread loaf']
}

# YOUR CODE HERE
inventory['pocket'] = ['seashell', 'strange berry', 'lint']
inventory['backpack'].sort()
inventory['backpack'].remove("dagger")
inventory['gold'] += 50

inventory

{'gold': 550,
 'pouch': ['flint', 'twine', 'gemstone'],
 'backpack': ['bedroll', 'bread loaf', 'xylophone'],
 'pocket': ['seashell', 'strange berry', 'lint']}